body,
html {
    height: 100%;
    margin: 0;
}

.banner {
    background: linear-gradient(to right, #ffffff 0%, #ffffff 15%, #ffffff 35%, #ffffff 50%, #ffffff 85%, #ffdd00 90%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: color-text 8s linear infinite;
}

@keyframes color-text {
    0% {
        background-position: 0px 0px;
    }
    50% {
        background-position: 600px 0px;
    }
    100% {
        background-position: 0px 0px;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        margin-top: 10%;
    }
}

#cover {
    height: 45%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#cover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 45%;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 0%, transparent 100%);
}


/*  TOP MENU  */

#cover .header-topbar {
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    position: relative;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#cover .header-topbar .container>ul {
    margin-bottom: 0;
    padding: 0;
}

#cover .header-topbar .container>ul>li {
    float: right;
    list-style: none;
}

#cover .header-topbar .container .pull-left>li>a {
    padding: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

#cover .header-topbar .container .pull-right .dropdown-menu {
    margin: 0;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top: none;
}

#cover .header-topbar .container .pull-right .dropdown-menu>li>a {
    color: #fff;
    font-size: 13px;
    padding: 3px 15px;
}

#cover .header-topbar .container .pull-right .dropdown-menu>li>a:hover {
    color: #00ff83;
    background-color: transparent;
    outline: none;
}

#cover .header-topbar .container>ul>li>a {
    color: #fff;
    padding: 10px 15px;
    display: block;
    font-size: 13px;
}

#cover .header-topbar .pull-right li a i {
    width: 15px;
}

#cover .header-topbar .pull-left li a i {
    width: 20px;
    text-align: center;
}

#cover .header-topbar .container>ul>li>a:hover,
#cover .header-topbar .container>ul>li>a:focus {
    color: #00ff83;
    text-decoration: none;
    transition: 0.8s;
    outline: none;
}

#cover .header-topbar ul>li>span.rot {
    color: #fff;
    padding: 9px 0;
    display: block;
}


/*===================== MENU =====================*/

.navbar {
    min-height: 40px;
    margin-bottom: 30px;
    border: 3px solid transparent;
}

.navbar-default {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-brand {
    padding: 30px 15px;
    font-size: 40px;
    letter-spacing: 2px;
    font-style: italic;
    height: 80px;
}

#mainNav .nav>li>a {
    padding: 30px 15px;
    font-size: 18px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #00e974;
}

.navbar-default .navbar-nav>li>a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #f0f0f0;
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-toggle {
        padding: 5px 10px;
        margin-top: 8px;
        margin-right: 30px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border-radius: 4px;
    }
    .dropdown-menu {
        padding: 5px 15px;
    }
    #mainNav .nav>li>a {
        padding: 10px 15px 10px 30px;
    }
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #00e974;
    background-color: transparent;
}

.navbar-nav li a i {
    width: 22px;
}

.top-menu li a i {
    width: 14px;
    margin-right: -1px;
}

.main-menu li a i {
    width: 14px;
    margin-right: 5px;
}

.dropdown-menu>li>a:hover {
    color: #00e974;
    background-color: transparent;
}

#mainNav .dropdown-menu {
    margin: 0;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top: none;
    min-width: 180px;
}

#mainNav .dropdown-menu>li>a {
    color: #f0f0f0;
    font-size: 13px;
    padding: 5px 21px;
}

#mainNav .dropdown-menu>li>a:hover {
    color: #00e974;
}

.modal-body {
    font-size: 15px;
}

@media (min-width: 768px) {
    .modal-dialog {
        margin-top: 10%;
    }
}


/*============== LEFT SIDE ================*/


/* IMAGE */

.profile-side .profile-img .image {
    width: 100%;
    max-width: 262px;
    height: 262px;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    display: block;
    margin-top: -191px;
    margin-bottom: 30px;
}

.profile-side .profile-img {
    position: relative;
}

.profile-side .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.733);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 0 0 4px 4px;
}

.profile-side .profile-img:hover .overlay {
    height: 27%;
}

.profile-side .text {
    white-space: nowrap;
    color: white;
    font-size: 15px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.profile-side .text a {
    color: #fff;
}

.profile-side .text a:hover {
    text-decoration: none;
}

.profile-side .text a i {
    width: 20px;
    margin-right: 10px;
    font-size: 18px;
}

.profile-side hr {
    border-top: 1px solid #e0e0e0;
}

.profile-side button {
    padding: 3px 10px 5px;
    position: absolute;
    right: 25px;
    top: 10px;
    color: #fff;
    border: transparent;
    background-color: transparent;
    border-radius: 4px;
    font-size: 16px;
}

.profile-side button:hover i:before {
    content: "Cập nhật ảnh đại diện \f030";
}

.profile-side button:hover,
.profile-side button:focus {
    background-color: rgba(0, 0, 0, 0.589);
    outline: transparent;
}


/*============== RIGHT SIDE ================*/

.tab-menu {
    padding-top: 30px;
}

.tab-menu .my-profile {
    font-size: 80px;
    margin-top: -171px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: -12px;
    line-height: 1.05;
    letter-spacing: 5px;
}

.tab-menu .my-profile span {
    font-size: 160px;
}

.tab-menu .nav>li>a {
    font-size: 15px;
    padding: 10px 15px;
    color: #363636;
}

.tab-menu .nav-tabs {
    margin-bottom: 15px;
    border-bottom: 1px solid #c3c3c3;
}

.tab-menu .nav-tabs>li>a:hover {
    border-color: #c3c3c3;
}

.tab-menu .nav>li>a>i {
    width: 20px;
}

.tab-menu .nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #00bd61;
    background-color: #fff;
    border: 1px solid #c3c3c3;
    border-bottom-color: transparent;
}